article {
    & header {
        @extend %vertical-rhythm;
    }
    & header h2 {
        margin-bottom: 0;
    }
    & header .post-meta.comments {
        &:visited {
            color: $grey-color;
        }
        margin-left: $spacing-unit;
    }
}
